<div>
  <div>
    <h1 class="shortener__url-title-welcome">Please select an option</h1>
    <div class="shortener__options-container">
      <input type="button" class="shortener__url-button" id="shorten" value="Shorten a url">
      <input type="button" class="shortener__url-button" id="store" value="Store a file">
      <form action="/logout" method="post">
        <input type="submit" class="shortener__url-button" value="log out">
      </form>
    </div>
  </div>
</div>
<script nonce={{scriptN}}>
  function redirect() {
    window.location.href='/' + event.currentTarget.id
  }
  document.getElementById("shorten").addEventListener("click", redirect, false)
  document.getElementById("store").addEventListener("click", redirect, false)
</script>