<div>
  <div>
    <h1 class="shortener__url-title" style="text-align: center;">Welcome to my awesome url shortener</h1>
    <input type="button" class="shortener__url-button" onclick="window.location.href='/login'" value="Login">
    <input type="button" class="shortener__url-button" onclick="window.location.href='/register'" value="register">
  </div>
</div>