<div>
  <h1 class="shortener__url-title">{{title}}</h1>
  {{#if shortenedUrl}}
  <div>
    <h3 class="shortener__url-input">http://localhost:3000/url/{{shortenedUrl}}</h3>
    {{!-- add on click copy --}}
    <input type="button" class="shortener__url-button" onclick="window.open('http://localhost:3000/url/{{shortenedUrl}}', '_blank').focus()" value="Go ahead and try it!">
    <input type="button" class="shortener__url-button" onclick="window.location.href='/'" value="Shorten another url">
  </div>
  {{else}}
  <form action="/shorten" method="post">
    <input class="shortener__url-input" name="url" type="text" placeholder="enter a url">
    <input type="submit" class="shortener__url-button" value="Go !">
  </form>
  {{/if}}
  <input type="button" class="shortener__url-button" onclick="window.location.href='/user-urls'" value="User urls">